[defaults]
inventory = ansible/inventory/hosts.yaml
roles_path = ansible/roles
vault_password_file = .vault_pass
stdout_callback = yaml
callbacks_enabled = profile_tasks
retry_files_enabled = false
host_key_checking = false

[privilege_escalation]
become = false
