---
apiVersion: v1
kind: Service
metadata:
  name: dav-review-db
  namespace: {{ dav_namespace }}
  labels:
    app: dav-review
    component: review-console-db
spec:
  type: ClusterIP
  selector:
    app: dav-review
    component: review-console-db
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      protocol: TCP
