---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dav-review-ui-html
  namespace: {{ dav_namespace }}
  labels:
    app: dav-review
    component: review-console-ui
data:
  index.html: |
{{ lookup('file', playbook_dir + '/../review-console/ui/index.html') | indent(4, true) }}
