---
apiVersion: v1
kind: Service
metadata:
  name: dav-review-ui
  namespace: {{ dav_namespace }}
  labels:
    app: dav-review
    component: review-console-ui
{% if review_console_enable_oauth %}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: dav-review-ui-tls
{% endif %}
spec:
  type: ClusterIP
  selector:
    app: dav-review
    component: review-console-ui
  ports:
{% if review_console_enable_oauth %}
    - name: https
      port: 8443
      targetPort: 8443
      protocol: TCP
{% else %}
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
{% endif %}
