---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dav-review-db
  namespace: {{ dav_namespace }}
  labels:
    app: dav-review
    component: review-console-db
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ review_console_db_storage_size }}
{% if review_console_db_storage_class %}
  storageClassName: {{ review_console_db_storage_class }}
{% endif %}
