---
apiVersion: v1
kind: Service
metadata:
  name: dav-review-api
  namespace: {{ dav_namespace }}
  labels:
    app: dav-review
    component: review-console-api
spec:
  type: ClusterIP
  selector:
    app: dav-review
    component: review-console-api
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP
